@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url("https://unpkg.com/aos@next/dist/aos.css");
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway:ital,wght@1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  position: fixed;
  z-index: 99;
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b00;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

.navbar-scroll {
  background-color: #1b1b1b;;
}


input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (min-width: 920px) {
  .laptop{
  margin-left: 20px;
}
}


.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

.logo {
  color: rgb(2, 175, 25);
  margin-left: 50px;
}

.menux {
  display: flex;
  align-items: center;
}

.fondo {
  background-color:#2c2c2c

}


.menux {
  margin-left: -100px;
}


nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #FFF;
}

nav a.router-link-exact-active {
  color: #42b983;
}